

<div class="container-fluid-a7">
 <img id="block-1" src="../../assets/image/fon white.png" width="100%" alt="">

<!--группа по верх всех блоков-->

  <div id="block-5">
<div class="container-fluid">
<div class="icon-section">
  <img class="img-icon" src="../../assets/icons/Forma 4.png"  alt="">
  <img class="img-faceboock" src="../../assets/icons/Forma 2.png" alt="">
  <img class="img-icon" src="../../assets/icons/Forma 1.png"  alt="">
  <img class="img-icon" src="../../assets/icons/Forma 3.png"  alt="">
</div>


<div class="icon-section">
<img class="job" src="../../assets/icons/Forma 5.png" alt=""><span><a href="mailto:info@gooroo.ru">info@gooroo.ru</a></span>
<img class="job" src="../../assets/icons/Shape 6.png" alt=""><span>ежедневно с 10:00 до 22:00</span>
</div>

<div class="icon-section">
  <span>&copy;Gooroo Fashion</span>
</div>
</div>
  </div>

  <!--группа по верх всех блоков-->

  <div class="container">

  </div>
</div>

<div class="container">
<div class="container-fluid-a7">
  <img id="block-1" src="../../assets/icons/white3.png" width="100%" alt="">
</div>
</div>
