.container-fluid-a7 {
  margin-top: 80px;
  position: relative;
 background-color: rgb(241, 239, 239);
}

#block-1 {
  z-index: 1;
 }

#block-5 {
  width: 100%;
  position: absolute;
  top: 50%;
 /*background-color: tomato;*/
 text-align: center;
 z-index: 3;
}

.img-faceboock {
  width: 1.5vmin;
  margin: 15px 50px;
}

.img-icon {
  width: 3vmin;
    margin: 15px 50px;
}

.job {
  width: 2vmin;
    margin: 15px 8px;
}

a {
  text-decoration: none;
  color: black;
  transition: .5s ease-in-out;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;

}

a:hover {
 color: rgb(173, 165, 45);
}

@media (max-width:780px) {
  #block-5 {
    top: 30px;
  }
  .img-icon {
    width: 10px;
      margin: 5px 15px;
    }

    .job {
    width: 10px;
      margin: 5px 5px;
    }
    span {
      font-size: 10px;
    }
}



