.bas {
position: fixed;
top: 25px;
right: 40px;
}

.colin {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #000000;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

#easynetshop-cart {

  position: absolute;
  bottom: 40px;
  left: 15px;
  font-size: 13px;
  font-weight: bold;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  color: #ffffff;
  border: none;
}

.fixed-top {
  background-color: white;
}

.navbar-nav {
  margin: 0 auto;
}

.nav-item {
  position: relative;
  align-items: center;
  display: flex;
  padding: 0px 15px;
}

.elips {
position: absolute;
  top: 0px;
  right:13px;
}

@media(max-width:991px) {
  .bas {
  position: fixed;
  top: 100px;
   }
}

@media (max-width: 991px) {
  .elips {
    position: absolute;
    top: 0px;
    left: 65px;
  }
}
