<div class="container-fluid">
<h3>О нас</h3>
</div>

<div class="container">



 <div class="element">
<img src="../../assets/image/about/Men-wear.png" width="100%" alt="">
 </div>

 <div class="element">
   <p>
    Наше предприятие специализируется на создании идеального и современного образа мужчины. Совершенный стиль достигается путём командной работы специалистов – стилистов, дизайнеров, портных и т.д. Сочетая в себе культурные ценности и европейские традиции – получается идеальный крой, с посадкой по фигуре.
    </p>
 </div>

 <div class="element">
   <p>
    В нашем салоне большая коллекция натуральный тканей, от известных брендов, которые подойдут, как для повседневной носки, так и для деловых/торжественных мероприятий. Мы осуществляем пошив мужской одежды (костюма, пальто, пиджака, брюк, жилета, рубашки) с индивидуальным подходом, чтобы максимально выгодно подчеркнуть лично ваши достоинства.
  </p>
  </div>

 <div class="element">
<img src="../../assets/image/about/clothing.png" width="100%"  alt="">
 </div>


</div>






<footer>
  <app-footer></app-footer>
</footer>
