<div class="container">
<h3>Контакты</h3>

<div class="box">
<div class="flexKontainer">
  <div class="elementNumber">
    <img src="../../assets/image/hometoo 1.png" alt="">
    <p>129110,Россия,Москва,<br>Олимпийский&#160;проспект&#160;д7</p>
    </div>

  <div class="elementNumber">
    <img src="../../assets/image/phonetoo 2.png" alt="">
    <div class="columnPhone">
      <p><a href="tel:+7(495)555-99-99">+7(495)555-99-99</a></p>
      <p><a href="tel:+7(495)555-99-99">+7(495)555-99-99</a></p>
    </div>
  </div>

  <div class="elementNumber">
    <img src="../../assets/image/mailto 3.png" alt="">
    <p><a href="mailto:info@gooroo.ru"> info@gooroo.ru</a></p>
  </div>
</div>

<div class="box">
  <div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2243.361644321151!2d37.61902711625264!3d55.786957980562455!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54a0948b81281%3A0xbb95540adffed42a!2sVillagio%20Estate!5e0!3m2!1sru!2sru!4v1591548188046!5m2!1sru!2sru" width="100%" height="500" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  </div>
 </div>
</div>
</div>


<footer>
  <app-footer></app-footer>
</footer>
