<div class="container">
<h3>Доставка</h3>
</div>

<div class="container">
  <div class="text">
    <p class="paragraf">
      Получить заказ можно несколькими путями: самовывоз, доставка курьером, ТК. Самостоятельно забрать удобно в салоне в заранее оговоренное время (адрес уточняйте заранее).
    </p>
    <p class="paragraf">
      Экономьте свои силы и закажите доставку курьером! В течении 1-3 дней с момента подтверждения готовности заказа, наш курьер привезет его на указанный адрес.
    </p>
    <p class="paragraf">
      Если вы находитесь в области или другом регионе РФ – доставка осуществляется транспортной компанией. Детали и пункты приема оговариваются заранее.
    </p>
  </div>
 </div>


 <div class="container">
   <div class="delywery">

     <div class="element">
      <img class="img1" src="../../assets/delyvery/Forma 1.png" height="70%"  alt="">
     <div class="dostavka">
       <a href="mailto:info@gooroo.ru"><p class="a1">Самовывоз</p></a>
       </div>
       <div class="tool1">
        <div class="tooltiptext"></div>
        <p>Мы открыты с 10:00 до 20:00..</p>
      </div>
  </div>




     <div class="element">
      <img class="img2" src="../../assets/delyvery/Shape 2.png" height="70%"  alt="">
     <div class="dostavka">
        <a href="mailto:info@gooroo.ru"><p class="a2">Наша доставка</p></a>
      </div>
      <div class="tool2">
        <div class="tooltiptext"></div>
        <p>Курьер сообщит о прибытии заранее.</p>
      </div>
     </div>

     <div class="element">
      <img class="img3" src="../../assets/delyvery/Shape 1.png"  height="70%"  alt="">
       <div class="dostavka">
        <a href="mailto:info@gooroo.ru"><p class="a3">Доставка ТК</p></a>
       </div>
       <div class="tool3">
        <div class="tooltiptext"></div>
        <p>Подберем подходящую для вас ТК.</p>
      </div>
     </div>
    </div>
 </div>





<footer>
  <app-footer></app-footer>
</footer>
