.kont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 900px;
  margin: auto;
}

.img {
  width: 45%;
  height: 470px;
  margin: auto;
}

.img-preview {
  width: 45%;
  height: 300px;
  margin: auto;
}

@media(max-width:991px) {
  .kont {
    width: auto;
    height: 500px;
  }
  .img {
    width: 310px;
    height: 70%;
  }
  .img-preview {
    width: 310px;
    height: 50%;
  }
}

@media(max-width:767px) {
  .kont {
    width: auto;
    height: 500px;
  }
  .img {
    width: 290px;
    height: 70%;
  }
  .img-preview {
    width: 50%;
    height: 30%;
  }
}

