.grupp {
  margin: auto;
  max-width: 700px;
  /*background-color: red;*/
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.karusel {
  width: 500px;
  background-color: rgb(105, 105, 105);
}

button {
  border: none;
}

.pole {
  background-color: rgb(105, 105, 105);
}


.container-fluid {
  text-align: center;
}

.container {
  margin-top: 50px;
  text-align: center;
}

p {
  padding: 15px;
}

.element {
  padding-top: 30px;
  margin: auto;
  max-width: 500px;
}

a {
  text-decoration: none;
  color: white;
  transition: .5s ease-in-out;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;

}

a:hover {
 color: rgb(173, 165, 45);
}

.el1 {
  max-width: 230px;;
  color: white;
  background-color: rgb(121, 112, 112);
  margin:auto;
}

.el2 {
  max-width: 180px;
  color: white;
  background-color: black;
  margin:20px auto;
}

.ew1 {
padding: 7px;
}

.ew2 {
padding: 7px;
}
