<div class="container-fluid">
  <h3>Вакансии</h3>
</div>



<div class="container">
<div class="element">
  <h6>Название вакансии</h6>
</div>

<div class="element">
  <p>Описание</p>
</div>

<div class="element">
  <p>Наш штат постоянно расширяется, поэтому мы в поисках творческих и талантливых людей. Именно благодаря командной работе и сочетанию опытных специалистов с новыми креативными решениями получается квинтэссенция идеального образа мужчины! Звоните уже сейчас и узнайте о свободных вакансиях
      </p>
</div>
</div>

<div class="container">
  <div class="el1">
    <p class="ew1"><a href="mailto:info@gooroo.ru">Загрузить резюме</a></p>
  </div>

  <div class="el2">
    <p class="ew2"><a href="mailto:info@gooroo.ru">Отправить</a></p>
  </div>
</div>

<app-new></app-new>






<footer>
  <app-footer></app-footer>
</footer>
