p {
  margin: 15px 0px;
}

.fff {
  display: flex;
  flex-wrap: wrap;

}
.blok {
  margin-left: auto;
}

.rru {
  display: flex;
  flex-direction: column;
}

.s1 {
  margin: auto;
}

.btnbn {
  margin-right: 5px;
  border: solid 1.5px;
}

.butbm {
  margin-right: 5px;
  width: 50px;
  height: 40px;
  border: solid 1.5px;
  padding: 5px;
}

.grip {
  margin: 15px 15px 0px 0px;
  display: flex;
}

.but1 {
  width: 15px;
  height: 15px;
  background-color: salmon;
  margin: 5px;
}

.but2 {
  width: 15px;
  height: 15px;
  background-color: rgb(42, 59, 40);
  margin: 5px;
}

.but3 {
  width: 15px;
  height: 15px;
  background-color: rgb(61, 11, 5);
  margin: 5px;
}

.but4 {
  width: 15px;
  height: 15px;
  background-color: rgb(99, 9, 94);
  margin: 5px;
}

.but5 {
  width: 15px;
  height: 15px;
  background-color: rgb(175, 144, 6);
  margin: 5px;
}

.but6 {
  width: 15px;
  height: 15px;
  background-color: rgb(184, 62, 48);
  margin: 5px;
}

a {
  margin: 15px 0px;
  color: white;
}

a:hover {
  color: white;
}

.accordion {
  margin-top: 15px;
}

.qw {
  color: black;
}

.grupp {
  margin: auto;
  max-width: 700px;
  /*background-color: red;*/
  display: flex;
}

.column {
  display: flex;
 flex-wrap: wrap;
}



.karusel {
  width: 400px;
  background-color: rgb(105, 105, 105);
}

button {
  border: none;
}

@media(max-width:530px) {

}

@media(max-width:461px) {
  .s1 {
    width: 300px;
  }
  p {
    margin: 0px;
  }
  a {
    margin: 0px;
  }
}

@media(max-width:375px) {
  .column {
    width: 250px;
    height: 600px;
    overflow: auto;
  }
}

@media(max-width:320px) {
  .column {
    width: 250px;
    height: 300px;
    overflow: auto;
  }
}

.scrollspy-example {
  height: 360px;
  }



  @media(max-width:1511px) {
    .blok {
      margin:auto;
      padding: 15px 0px;
    }

    .s1 {
      margin:auto;
      padding: 15px 0px;
    }
    .karusel {
      width: auto;
      background-color: rgb(105, 105, 105);
    }
  }
