<div class="fff">

  <div class="blok">
    <div class="grupp">
    <div class="column">
       <button  (click)="clickMent()" ><img src="assets/rubashka/r1.jpg" width="100"  alt=""></button>
       <button  (click)="clickEvent()" ><img src="assets/rubashka/r2.jpg" width="100"  alt=""></button>
       <button  (click)="clickJacket()" ><img src="assets/rubashka/r3.jpg" width="100"  alt=""></button>
       <button  (click)="clickJacketStyle()" ><img src="assets/rubashka/r4.jpg" width="100"  alt=""></button>
       <button  (click)="clickJacketTop()" ><img src="assets/rubashka/r6.jpg" width="100"  alt=""></button>
    </div>

    <div class="elementor">
        <div class="karusel">
           <img class="loop" src="{{msg}}" width="100%" alt="">
        </div>
    </div>
    </div>
    </div>

    <div class="s1">

      <h3>Костюм в кофейном стиле стиле</h3>
      <p>14500 Руб.</p>
      <p>Выбрать размер</p>

      <div class="rru">
        <div class="grup1">
          <button type="button" class="btn btn-outline-dark btn-lg  btnbn">42</button>
          <button type="button" class="btn btn-outline-dark btn-lg  btnbn">44</button>
          <button type="button" class="btn btn-outline-dark btn-lg  btnbn">46</button>
          <button type="button" class="btn btn-outline-dark btn-lg  btnbn">48</button>
          <button type="button" class="btn btn-outline-dark btn-lg  btnbn">50</button>
          <button type="button" class="btn btn-outline-dark btn-lg  btnbn">52</button>
        </div>

        <div class="grup2">
          <div class="grip">
            <div class="butbm"><button type="button" class="btn btn-outline-dark but1"></button></div>
            <div class="butbm"><button type="button" class="btn btn-outline-dark but2"></button></div>
          </div>
          <div class="rru">
            <a class="btn-ens-action btn btn-dark btn-lg btn-block basket" data-rel="839c7d4f187880">Добавить в корзину</a>
            <app-zakazpomerkam></app-zakazpomerkam>
    </div>


    <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left qw" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Уход
            </button>
          </h2>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            Деликатная ручная стирка
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed qw" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Доставка
            </button>
          </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
            Сногсшибательный весенний <br>
           вариант плаща. Тренчкот<br>
            выполнен по всем канонам:<br>
            кокетка сзади, двубортная<br>
           застежка на мраморные<br>
           пуговицы, крючок на<br>
          стойке. От себя добавили<br>
            изысканно застегивающуюся<br>
            на пуговицы шлицу.<br>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapsed qw" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Оплата
            </button>
          </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div class="card-body">
           Сногсшибательный весенний<br>
            вариант плаща. Тренчкот<br>
             выполнен по всем канонам:<br>
             кокетка сзади, двубортная<br>
            застежка на мраморные<br>
            пуговицы, крючок на<br>
           стойке. От себя добавили<br>
             изысканно застегивающуюся<br>
             на пуговицы шлицу.<br>

          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
  </div>


  </div>
   <app-payment></app-payment>
<footer>
    <app-footer></app-footer>
  </footer>
