

<div class="container">
  <ul class="row">
    <li class="li-to"><a  [routerLink] = "['description', 4]"><p>Описание</p></a></li>
    <li class="li-to"><a  [routerLink] = "['details', 5]"><p>Детали</p></a></li>
    <li class="li-to"><a  [routerLink] = "['returns', 6]"><p>Бесплатные возвраты</p></a></li>
  </ul>
</div>

<div class="container">
<!--Отоброжает каллекцию по выбранному роуту-->
<router-outlet></router-outlet>
<!--Отоброжает каллекцию по выбранному роуту-->
</div>

<app-video></app-video>

<div class="container">
  <h5 class="center">Вас может заинтересовать</h5>
  </div>

<!--Первая группа-->
<div class="container">



  <div class="container-element">
   <img class="m1" src="../../../assets/image/collection/jaccket.png" width="100%" alt="">
    <ul>
      <li>{{ cena }}</li>
      <li>S M L</li>
      <li>1 000$</li>
      <li><button type="button" class="btn btn-light"> <a class="nav-link" routerLink="/catalog/sale/1">магазин <span class="sr-only">(current)</span></a></button></li>
    </ul>
</div>

<div class="container-element">
  <img class="m1" src="../../../assets/image/collection/top2.png" width="100%" alt="">
   <ul>
     <li>{{ cena }}</li>
     <li>S M L</li>
     <li>1 000$</li>
     <li><button type="button" class="btn btn-light"> <a class="nav-link" routerLink="/catalog/sale/1">магазин <span class="sr-only">(current)</span></a></button></li>
   </ul>
</div>


<div class="container-element">
  <img class="m1" src="../../../assets/image/collection/neither2.png" width="100%" alt="">
   <ul>
     <li>{{ cena }}</li>
     <li>S M L</li>
     <li>1 000$</li>
     <li><button type="button" class="btn btn-light"> <a class="nav-link" routerLink="/catalog/sale/1">магазин <span class="sr-only">(current)</span></a></button></li>
   </ul>
</div>


</div>
<!--Первая группа-->





