<div class="container">
  <h3 class="center">Отзывы</h3>

<div class="boxKontainer">
  <div class="element">
    <div class="element1">
      <p class="nameKlient">Игорь&#160;К.</p>
      <p>28 лет</p>
    </div>
   </div>
  <div class="element">
    <p>Я бизнес-тренер. Мне приходится часто выступать на публике – это требует постоянно соответствовать статусу. Не люблю быть похожим на всех, поэтому предпочитаю заказывать индивидуальный пошив костюмов. Салон GOOROO нашел уже давно, поэтому регулярно заказываю одежду только у них. Радует обилие материалов, скорость работы и действительно индивидуальный подход!Я бизнес-тренер. Мне приходится часто выступать на публике – это требует постоянно соответствовать статусу. Не люблю быть похожим на всех, поэтому предпочитаю заказывать индивидуальный пошив костюмов. Салон GOOROO нашел уже давно, поэтому регулярно заказываю одежду только у них. Радует обилие материалов, скорость работы и действительно индивидуальный подход!</p>
  </div>
</div>
<div class="black"></div>

<div class="boxKontainer">
  <div class="element">
    <div class="element1">
      <p class="nameKlient">Евгения&#160;Синедникова</p>
      <p></p>
    </div>
   </div>
  <div class="element">
    <p>Мы с мужем заказывали пошив свадебного костюма в вашем салоне. Мы долго не могли определиться с типом пошива, но ваши специалисты пришли на помощь! Буквально уже через пол часа нам набросали эскизы и принесли ткани. Все сразу понравилось! Костюм оказался еще лучше, чем я предполагала – он идеально сел по фигуре! Огромная благодарность всем сотрудникам за работу! Вы просто волшебники!</p>
  </div>
</div>
<div class="black"></div>

<div class="boxKontainer">
  <div class="element">
    <div class="element1">
      <p class="nameKlient">Денис&#160;Владимирович</p>
      <p></p>
    </div>
   </div>
  <div class="element">
    <p>Управляю крупной компанией, всегда стараюсь быть примером для своего персонала. В своем гардеробе у меня, наверное, десятка два пиджаков и костюмов. Отдаю предпочтение стильным и современным вещам, которые идеально сидят по фигуре. На постоянной основе сотрудничаю с GOOROO – они мне регулярно шьют вещи. Как постоянный клиент – имею скидку! Тем, кто хочет иметь с своем гардеробе стильные вещи – рекомендую обратиться с этот салон.</p>
  </div>
</div>
<div class="black"></div>

<div class="boxKontainer">
  <div class="element">
    <div class="element1">
      <p class="nameKlient">Андрей&#160;Гордиевский</p>
      <p>37 лет</p>
    </div>
   </div>
  <div class="element">
    <p>Хороший салон. Работают быстро, качественно. Вещи носятся долго, как говорится «износу нет». Шьют действительно на результат, будет столько примерок, сколько понадобится, чтобы получилось все идеально. Такое трудолюбие и подход к клиентам внушает доверие. Так что советую всем.</p>
  </div>
</div>
<div class="black"></div>

</div>

<app-footer></app-footer>

