<!--Первая группа-->
<div class="container-fluid">

  <div class="container-element">
   <img src="../../../assets/image/collection/jaccket3.png" width="100%" alt="">
   <a routerLink="/jacket/description/4"><h5>Подробнее</h5></a>
    <ul>
      <li>{{ cena }}</li>
      <li>S M L</li>
      <li>1 000$</li>
      <li><a class="btn-ens-action btn-ens-style basket" data-rel="839c7d4f187880">Заказать</a></li>
    </ul>

    </div>

<div class="container-element">
  <img src="../../../assets/image/collection/jaccket.png" width="100%" alt="">
  <a routerLink="/jacket2/description/4"><h5>Подробнее</h5></a>
    <ul>
      <li>{{ cena }}</li>
      <li>S M L</li>
      <li>1 000$</li>
      <li><a class="btn-ens-action btn-ens-style basket" data-rel="839c7d4f187880">Заказать</a></li>
    </ul>

</div>

<div class="container-element">
  <img src="../../../assets/image/collection/jaccket2.png" width="100%" alt="">
  <a routerLink="/jacket1/description/4"><h5>Подробнее</h5></a>
    <ul>
      <li>{{ cena }}</li>
      <li>S M L</li>
     <li>1 000$</li>
     <li><a class="btn-ens-action btn-ens-style basket" data-rel="839c7d4f187880">Заказать</a></li>
    </ul>

  </div>
</div>
<!--Первая группа-->

<!--Вторая группа-->
<div class="container-fluid">

  <div class="container-element">
   <img src="../../../assets/image/collection/top1.png" width="100%" alt="">
   <a routerLink="/shirt/description/4"><h5>Подробнее</h5></a>
    <ul>
      <li>{{ cena }}</li>
      <li>S M L</li>
      <li>1 000$</li>
      <li><a class="btn-ens-action btn-ens-style basket" data-rel="839c7d4f187880">Заказать</a></li>
    </ul>

</div>

<div class="container-element">
  <img src="../../../assets/image/collection/top2.png" width="100%" alt="">
  <a routerLink="/shirt1/description/4"><h5>Подробнее</h5></a>
    <ul>
      <li>{{ cena }}</li>
      <li>S M L</li>
      <li>1 000$</li>
      <li><a class="btn-ens-action btn-ens-style basket" data-rel="839c7d4f187880">Заказать</a></li>
    </ul>

</div>

<div class="container-element">
  <img src="../../../assets/image/collection/top3.png" width="100%" alt="">
  <a routerLink="/shirt2/description/4"><h5>Подробнее</h5></a>
    <ul>
      <li>{{ cena }}</li>
      <li>S M L</li>
     <li>1 000$</li>
     <li><a class="btn-ens-action btn-ens-style basket" data-rel="839c7d4f187880">Заказать</a></li>
    </ul>

  </div>
</div>
<!--Вторая группа-->

<!--Третья группа-->
<div class="container-fluid">

  <div class="container-element">
   <img src="../../../assets/image/collection/neither.png" width="100%" alt="">
   <a routerLink="/trousers"><h5>Подробнее</h5></a>
    <ul>
      <li>{{ cena }}</li>
      <li>S M L</li>
      <li>1 000$</li>
      <li><a class="btn-ens-action btn-ens-style basket" data-rel="839c7d4f187880">Заказать</a></li>
    </ul>

</div>

<div class="container-element">
  <img src="../../../assets/image/collection/neither2.png" width="100%" alt="">
  <a routerLink="/trousers1"><h5>Подробнее</h5></a>
    <ul>
      <li>{{ cena }}</li>
      <li>S M L</li>
      <li>1 000$</li>
      <li><a class="btn-ens-action btn-ens-style basket" data-rel="839c7d4f187880">Заказать</a></li>
    </ul>

</div>

<div class="container-element">
  <img src="../../../assets/image/collection/neither3.png" width="100%" alt="">
  <a routerLink="/trousers2"><h5>Подробнее</h5></a>
    <ul>
      <li>{{ cena }}</li>
      <li>S M L</li>
     <li>1 000$</li>
     <li><a class="btn-ens-action btn-ens-style basket" data-rel="839c7d4f187880">Заказать</a></li>
    </ul>

  </div>
</div>
<!--Третья группа-->
