h1 {
  font-family: Arial, Helvetica, sans-serif;
}

.container-fluid-a1 {
position: relative;
background-color: rgb(41, 34, 34);
}
.container-fluid-a2 {
  position: relative;
 background-color: rgb(118, 130, 133);
}
.container-fluid-a3 {
  position: relative;
  background-color: rgb(32, 30, 30);
}
.container-fluid-a4 {
  position: relative;
  background-color: rgb(109, 101, 101);
}
.container-fluid-a5 {
  position: relative;
  background-color: rgb(41, 34, 34);
}
.container-fluid-a6 {
  position: relative;
  background-color: rgb(41, 34, 34);
}

.container-fluid-a7 {
  position: relative;
 background-color: rgb(241, 239, 239);
}

#block-10 {
  border: solid 1px white;
  font-size: 3vmin;
  background-color: rgba(0, 0, 0, 0.363);
  position: absolute;
  bottom: 40%;
  left: 55%;
  z-index: 2;
}
#block-9 {
  color: white;
  font-size: 3vmin;
  position: absolute;
  top: 65%;
  left: 9%;
  z-index: 2;
}
#block-1 {
 z-index: 1;
}
#block-2 {
  position: absolute;
  top: 7%;
  right: 15%;
  z-index: 2;
}
#block-2 {
  position: absolute;
  top: 7%;
  right: 15%;
  z-index: 2;
}
#block-3 {
  position: absolute;
  top: 27%;
  left: 10%;
  z-index: 2;
}
p {
  margin: 5px 35px;
}
#block-4 {
  font-size: 3vmin;
  background-color: black;
  position: absolute;
  top: 50%;
  left: 10%;
  z-index: 2;
}
#block-6 {
  color: white;
  padding: 5px 25px;
  background-color: rgba(5, 5, 5, 0.514);
  font-size: 3vmin;
  position: absolute;
  top: 50%;
  left: 40%;
  z-index: 2;
}
#block-8 {
  border: solid 1px white;
  font-size: 3vmin;
  background-color: rgba(0, 0, 0, 0.363);
  position: absolute;
  bottom: 10%;
  left: 40%;
  z-index: 2;
}
#block-5 {
  width: 100%;
  position: absolute;
  top: 50%;
 /*background-color: tomato;*/
 text-align: center;
 z-index: 3;
}
a {
  text-decoration: none;
  color: white;
  transition: .5s ease-in-out;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;

}

a:hover {
 color: rgb(173, 165, 45);
}
.polosa-effect {
  background-color: white;
  width: 100%;
  height: 1px;
}
.sectiy {
  padding: 40px;
  font-family: 'Merienda', cursive;
 text-align: center;
}
.element {
  display: flex;
  flex-direction: row;
  justify-content: center;
align-items: center;
  flex-wrap: wrap;
  /*padding: 50px;*/
  align-content: center;
  width: auto;
  height: auto;
}

.burberry {
 margin-bottom: 62px;
}

.img-bottom {
  margin-bottom: 50px;
}

.sectiy1 {

  margin:0px 20px;
  align-self: center;
}

#block-1 {
  z-index: 1;
 }

 #block-2 {
  position: absolute;
  top: 7%;
  right: 15%;
  z-index: 2;
}

#block-5 {
  width: 100%;
  position: absolute;
  top: 50%;
 /*background-color: tomato;*/
 text-align: center;
 z-index: 3;
}

.mail {
  color: black;
}

.img-faceboock {
  width: 1.5vmin;
  margin: 15px 50px;
}

.img-icon {
  width: 3vmin;
    margin: 15px 50px;
}

.job {
  width: 2vmin;
    margin: 15px 8px;
}

@media (max-width:950px) {
  #block-3 {
    position: absolute;
    top: 17%;
    left: 10%;
    z-index: 2;
  }
  #block-9 {
    color: white;
    font-size: 1.5vmin;
    position: absolute;
    top: 55%;
    left: 1%;
    z-index: 2;
  }
  #block-10 {
    border: solid 1px white;
    font-size: 1vmin;
    background-color: rgba(0, 0, 0, 0.363);
    position: absolute;
    bottom: 40%;
    left: 55%;
    z-index: 2;
  }
}

@media (max-width:670px) {
#block-6 {
  left: 25%;
 }
 #block-8 {
   left: 25%;
 }
}

@media (max-width:610px) {
  #block-5 {
    top: 30px;
  }
  .img-icon {
    width: 10px;
      margin: 5px 15px;
    }

    .job {
    width: 10px;
      margin: 5px 5px;
    }
    span {
      font-size: 10px;
    }
}













