
<div class="container-fluid-a1">
  <img id="block-1" src="../../assets/image/a1.png" width="100%" alt="">
  <img id="block-3" src="../../assets/image/nev-colection.png" width="40%" alt="">
<div id="block-4">
   <a routerLink="/contacts"><p>узнать подробнее</p></a>
<div class="polosa-effect"></div>
</div>
</div>


<div class="container-fluid-a2">
  <img id="block-1"  src="../../assets/image/a2.png" width="100%" alt="">
  <img id="block-2"  src="../../assets/image/gty.png" width="10%" alt="">
  <div id="block-8">
    <a routerLink="/catalog/sale/1"><p>перейти в каталог</p></a>
 <div class="polosa-effect"></div>
 </div>
 <div id="block-6">
  <p>Рубашки</p>
</div>
</div>


<div class="container-fluid-a3">
  <img id="block-1" src="../../assets/image/a3.png" width="100%" alt="">
  <img id="block-2" src="../../assets/image/gty.png" width="10%" alt="">
  <div id="block-8">
    <a routerLink="/catalog/sale/1"><p>перейти в каталог</p></a>
 <div class="polosa-effect"></div>
 </div>
 <div id="block-6">
  <p>Костюмы</p>
</div>
</div>

<div class="container-fluid-a4">
  <img id="block-1" src="../../assets/image/a4.png" width="100%"  alt="">
  <img id="block-2" src="../../assets/image/gty.png" width="10%" alt="">
  <div id="block-8">
    <a routerLink="/catalog/sale/1"><p>перейти в каталог</p></a>
 <div class="polosa-effect"></div>
 </div>
 <div id="block-6">
  <p>Верхняя одежда</p>
</div>
</div>

<div class="container-fluid-a5">
  <img id="block-1"  src="../../assets/image/a5.png" width="100%" alt="">
  <img id="block-2"  src="../../assets/image/gty.png" width="10%" alt="">
  <div id="block-8">
    <a routerLink="/catalog/sale/1"><p>перейти в каталог</p></a>
 <div class="polosa-effect"></div>
 </div>
 <div id="block-6">
  <p>Аксессуары</p>
</div>
</div>

<div class="container-fluid-a6">
  <img id="block-1"  src="../../assets/image/a6.png" width="100%" alt="">
  <img id="block-2"  src="../../assets/image/gty.png" width="10%" alt="">
  <img id="block-3" src="../../assets/text45.png" width="40%" alt="">
  <div id="block-9">
    <p>
      Будьте в курсе актуальных новинок и<br>
      индивидуальных предложений
    </p>
  </div>
  <div id="block-10">
    <a routerLink="/contacts"><p>подписаться</p></a>
 </div>
</div>

<!--Sectyon text-->

<div class="container">
  <div class="sectiy">
    <h1>Партнеры</h1>
  </div>
</div>

<div class="container-fluid">
  <div class="element">
  <div class="sectiy1">
    <p class="burberry">BURBERRY</p>
  </div>

  <div class="sectiy1">
    <img  src="../../assets/icons/sloy 3.png" width="300px"   alt="">
  </div>

  <div class="sectiy1">
    <img class="img-bottom" src="../../assets/icons/sloy 4.png" width="100px"  alt="">
  </div>
</div>
</div>

<!--Sectyon text-->


<!--footer-->

<div class="container-fluid-a7">
  <img id="block-1" src="../../assets/image/a7.png" width="100%" alt="">
  <img id="block-2" src="../../assets/image/gty.png" width="10%" alt="">
<!--группа по верх всех блоков-->

  <div id="block-5">
<div class="container-fluid">
<div class="icon-section">
  <img class="img-icon" src="../../assets/icons/Forma 4.png"  alt="">
  <img class="img-faceboock" src="../../assets/icons/Forma 2.png"  alt="">
  <img class="img-icon" src="../../assets/icons/Forma 1.png"  alt="">
  <img class="img-icon" src="../../assets/icons/Forma 3.png"  alt="">
</div>


<div class="icon-section">
<img class="job" src="../../assets/icons/Forma 5.png" alt=""><span><a class="mail" href="mailto:info@gooroo.ru">info@gooroo.ru</a></span>
<img class="job" src="../../assets/icons/Shape 6.png" alt=""><span>ежедневно с 10:00 до 22:00</span>
</div>

<div class="icon-section">
  <span>&copy;Gooroo Fashion</span>
</div>
</div>
  </div>

  <!--группа по верх всех блоков-->

  <div class="container">

  </div>
</div>

<div class="container-fluid-a7">
  <img id="block-1" src="../../assets/image/fon 1.png" width="100%" alt="">
  <div class="container">

  </div>
</div>



<!--footer-->




